<div class="container mt-4">

    <hr class="text-muted">

    <footer id="footer">
        <div class="row">
            <div class="col-lg-12 small">
                <h6>About</h6>
                <p class="text-muted">
                    The goal of this marketplace is to display and organize some of the content generated around the <a href="https://phasereditor2d.com">Phaser Editor 2D</a> (and hopefully <a href="https://phaser.io">Phaser</a>) community.
                    Are you making project templates, examples, plugins, tutorials, blogs... in relation to the Phaser development? Please, list it here!
                    <a href="https://github.com/PhaserEditor2D/PhaserEditor2D-marketplace">Learn how to contribute</a>.
                </p>

                <p class="text-muted">Copyright &copy; 2022 <a href="https://twitter.com/boniatillo_com">Arian Fornaris</a>. Isla de la Juventud, Cuba.</p>
            </div>
        </div>
    </footer>

</div>

</body>
</html>