<%- include("includes/_header") %>

    <div class="container mt-4">

        <%- include("includes/_itemgrid.ejs", {
            examples: site.__examples.$pages,
            starters: [],
            websites: [],
            plugins: [],
            libs: []
        }) %>
    </div>

    <%- include("includes/_footer") %>