<%- include("includes/_header") %>

    <div class="container mt-4">

        <%- include("includes/_itemgrid.ejs", {
            examples: site.__examples.$pages,
            starters: site.__starters.$pages,
            websites: site.__websites.$pages,
            plugins: site.__plugins.$pages,
            libs: site.__libs.$pages
        }) %>
    </div>

    <%- include("includes/_footer") %>