<%- include("includes/_header") %>

    <div class="container mt-4">

        <%- include("includes/_itemgrid.ejs", {
            examples: [],
            starters: site.__starters.$pages,
            websites: [],
            plugins: [],
            libs: []
        }) %>
    </div>

    <%- include("includes/_footer") %>